#
#Mon Oct 01 16:27:21 ICT 2018
ProjectVariable.PROJECT_NAME=lkintheend-backend
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=com.ifi
WEB=src/main/webapp
ProjectVariable.REST_API_ROOT=/api/v1
ProjectVariable.REST_SERVER_PORT=3000
SRC=src/main/java
ENTITY_PKG=com.ifi.beans
SpecificTemplatesFolder=
ProjectVariable.MAVEN_ARTIFACT_ID=lkintheend-backend
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
SpecificDestinationFolder=
TEST_SRC=src/test/java
ProjectVariable.REST_URL_ROOT=http\://localhost\:3000
TMP=tmp
